<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bittrack</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="main">
      <div class="problem">
        {{ problem }}
      </div>
      <div class="sol">
        {{ solution }}
      </div>
      <div class="archi">
        {{ architecture }}
      </div>
      <div class="team">
        {{ team }}
      </div>
    </div>
  </body>
</html>
