body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 200vh; /* Making the body taller to enable scrolling */
}

.main-container {
    width: 90%; /* 100% - 2*5% margin */
    margin: 0 auto; /* center the container */
}

.section {
    padding: 20px;
    margin-bottom: 20px;
    border: none;
}

#first-section {
    margin-top: 5vh;
}
